<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/log.css">
    <title>{{ course.name }}</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>TopHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                {% if session.get('token')%}
                    <li>
                        <a href="/">Log out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="course">
        <h1>{{ course.name }}</h1>
        <p>
        Description:
        <p>
        <p>{{ course.descript }}</p>
        <p>
        <form action="/register" method="POST">
        <input type="submit" class="button" value="Add">
        <p>{{ addStatus }}</p>
        </form>
    </div>
</body>
</html>