<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/log.css">
    <title>Courses</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>BetterHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                {% if session.get('token') %}
                    <li>
                        <a href="{{ url_for('logout') }}">Log out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li>
                        <a href="{{ url_for('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="course-display">
        {% for i in all_courses %}
            <a href="/course?course_name={{ i.course_name }}">{{ i.course_name }}</a>
        {% endfor %}
    </div>
</body>
</html>