<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/log.css">
    <title>Create Questions</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>BetterHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('create') }}">Create Course</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Log out</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="instructor-section">
        <h2>Create Question</h2>
            <form action="/createQuestion" method="POST">
                <label for="course_name">Course(Please input your course name):</label>
                <input type="text" id="course_name" name="course_name" required>
                <br>
                <label for="question_text">Question Text:</label>
                <input type="text" id="question_text" name="question_text" required>
                <br>

                <label for="options">Options:</label>
                <br>
                A <input type="text" id="option1" name="options[]" required>
                <br>
                B <input type="text" id="option2" name="options[]" required>
                <br>
                C <input type="text" id="option3" name="options[]" required>
                <br>

                <label for="correct_option">Correct Option (A, B or C):</label>
                <input type="text" id="correct_option" name="correct_option" pattern="[A-Ca-c]" required>
                <br>
                <input type="submit" class="button" value="Submit">
            </form>
    </div>

</body>
</html>
