<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/log.css">
    <title>Create Course</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>TopHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/mycourses">My Courses</a>
                </li>
                <li>
                    <a href="/">Log out</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="loginDiv">
        <form action="/create" method="POST">
            <h1>Create Course</h1>
            <input id="coursename" name="coursename" type="text" placeholder="Course Name" autofocus required>
            <p>
            Description:
            <p>
            <input id="descript" name="descript" type="text" style="width: 500px; height: 200px" required>
            <p>
            <input type="submit" class="button" value="Submit">
            <p>{{ createStatus }}</p>
        </form>
    </div>

</body>
</html>