<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/log.css">
    <title>Grade book</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>TopHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('create') }}">Create Course</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Log out</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="grade-display">
    {% if role %}
        {% for student in roster %}
            Student: {{ student.username }}
            <br>
            Question text: {{ student.question_text }}
            <br>
            Grade: {{ student.points }}
            <br>
            <br>
        {% endfor %}
    {% else %}
        {% for i in user_grades %}
        Question text: {{ i.question_text }}
        <br>
        Your grade: {{ i.points }}
        <br>
        <br>
        {% endfor %}
    {% endif %}
    </div>
</body>
</html>