<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/log.css">
    <title>Grade book</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>BetterHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('create') }}">Create Course</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Log out</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="grade-display">
    {% if empty %}
    <h2>No grade</h2>
    {% else %}
    {% if role %}
        {% for question in roster %}
            Username: {{ question.username }}
            <br>
            Question text: {{ question.question_text }}
            <br>
            User answer: {{ question.user_answer }}
            <br>
            Grade: {{ question.points }}
            <br>
            <br>
        {% endfor %}
        <h2>Total grade:</h2>
        {% for username in user %}
            Username: {{ username }}
            <br>
            Total grade: {{ total_points[username] }}
            <br>
            <br>
        {% endfor %}
    {% else %}
        {% for i in user_grades %}
        Question text: {{ i.question_text }}
        <br>
        Your answer: {{ i.user_answer }}
        <br>
        Your grade: {{ i.points }}
        <br>
        <br>
        {% endfor %}
        <br>
        Total Grade: {{ total_points }}
    {% endif %}
    {% endif %}
    </div>
</body>
</html>