<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade book</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>TopHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('create') }}">Create Course</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Log out</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="display">
    {% if role %}
        {% for student in students %}
            <li>{{ student }}</li>
        {% endfor %}
    {% else %}
        
    {% endif %}
    </div>
</body>
</html>