<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>TopHat</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>TopHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                        <a href="/courses">Courses</a>
                </li>
                {% if user %}
                    <li>
                        <span>{{ user.username }}</span>
                    </li>
                    <li>
                        <a href="/mycourses">My Courses</a>
                    </li>
                    <li>
                        <a href="/">Log out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</body>
</html>