<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>BetterHat</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>BetterHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                        <a href="/courses">Courses</a>
                </li>
                {% if session.get('token')%}
                    <li>
                        <a href="{{ url_for('my') }}">My Courses</a>
                    </li>
                    <li>
                        <a href="{{ url_for('create') }}">Create Course</a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">Log out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li>
                        <a href="{{ url_for('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="background">
        <img src="../static/images/UB.jpg" alt="UB">
    </div>
</body>
</html>