<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/log.css">
    <title>Questions</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>TopHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('create') }}">Create Course</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Log out</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="question-display">
        <h1>{{ question.question_text }}</h1>
        <ol type="A">
            {% for option in question.options %}
                <li>{{ option }}</li>
            {% endfor %}
        </ol>
    </div>

</body>
</html>