<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/log.css">
    <title>Register</title>
</head>
<body>
    <div class="header">
        <!-- logo model -->
        <div class="logo">
            <h1>TopHat</h1>
        </div>
        <!-- navigate -->
        <div class="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="loginDiv">
        <form action="register.html" method="GET">
            <h1>Register</h1>
            <input id="username" name="userName" type="text" placeholder="Username" autofocus required>
            <input id="password" type="password" placeholder="Password" required>
            <input type="button" class="button" value="Register">
        </form>
    </div>
</body>
</html>